<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 
mapper代理开发：
	mapper接口的完整类名			==			mapper.xml的namespace
	mapper接口中的方法名			==			mapper.xml中的statement的id
	mapper接口中的方法的参数类型	==			对于id的mapper.xml中的statement的parameterType
	mapper接口中的返回值类型		==			对于id的mapper.xml中的statement的resultType
	
mapper接口返回单个和集合类型
	不管查询记录是单条还是多条，在 statement中resultType定义一致，都是单条记录映射的pojo类型。
	mapper接口方法返回值，如果是返回的单个对象，返回值类型是pojo类型，生成的代理对象内部通
	过selectOne获取记录，如果返回值类型是集合对象，生成的代理对象内部通过selectList获取记录。

输入和输出映射
	parameterType
		可以定义pojo包装类型扩展mapper接口输入参数的内容
	resultType
		指定输出结果的类型（pojo，基本类型，hashmap）将sql查询结果映射为java对象
		如果查询结果为一条记录且一列，再使用简单类型
		sql查询的列名要和实体类的属性名相同，相同的属性可以映射成功
	resultMap
		将sql查询结果映射为java对象
		如果sql查询的列名和实体类的属性名不相同，可以使用resultMap将列名和实体的属性名做一个对应关系
		
动态sql
	mybatis重点是对sql的灵活解析和处理
		if
		sql片段
			通过sql片段可以将通用的sql语句抽取处理，单独定义，在其他statement中就可以引用sql片段
			通用的sql语句，常用：
				where条件，查询的列
		foreach
			在statement中可以通过foreach遍历parameterType中的集合类型
			比如：
				需求：根据多个用户id查询用户信息
				解决：
					在UserQueryVo中定义list<Integer> ids 存储多个id
			
		
				
		
-->
<mapper namespace="day72_mybatis.demo.mapper.UserMapper">
	<!-- 定义resultMap -->
	<!-- 
		id:唯一标识这个resultMap
		type：最终映射出来的实体类
	 -->
	<resultMap id="resultMap1" type="user" >
		<!-- id：主键的映射
			column：查询出来的别名
			property：要映射到的type的哪个属性
		-->
		<id column="id_" property="id"/>
		<!-- result：普通列的映射 -->
		<result column="uName" property="username" />
		<result column="gender" property="sex" />
	</resultMap>
	
	<!-- 定义一个sql片段 建议对单表查询条件进行单独抽取，提高通用性-->
	<!-- 注意：不要将where放在sql片段中，否则通用性差 -->
	<sql id="user_sqlWhere1">
		<!-- 如果userQueryVo中传入了查询条件，再进行条件拼接 -->
		<if test="userCustom!=null">
			<if test="userCustom.username!=null and userCustom.username!=''">
				and username like '%${userCustom.username}%'
			</if>
			<if test="userCustom.sex!=null and userCustom.sex!=''">
				and sex = #{userCustom.sex}
			</if>
			<if test="ids!=null and ids!=''">
				<!-- 还有其他 -->
				<!-- 根据id集合查询 -->
				<!-- 
					collection:集合
					open:开始循环要拼接的串
					close：介绍循环要拼接的串
					item：每次循环取到的对象
					separator：没两次循环之间的间隔串
				 -->
				<!-- 最终拼接效果：select id,username,birthday,sex,address from user where username like '%小明%' and id in(16,22,25); -->
				<foreach collection="ids" open=" and id in(" close=")" item="myId" separator=",">
					#{myId}
				</foreach>
			</if>
		</if>
	</sql>
	
	<!-- 根据id查询用户信息 -->
	<select id="findUserById" parameterType="int" resultType="day72_mybatis.demo.eneity.User">
		select * from user where id=#{id};
	</select>
	
	<!-- 根据用户模糊姓名，查询用户信息 -->
	<!-- user是在sqlMapConfig.xml中定义的别名 -->
	<select id="findUserByName" parameterType="java.lang.String" resultType="user">
		<!-- select * from user where username like #{username} -->
		select * from user where username like '%${value}%'
	</select>
	
	<!-- 自定义查询调节，查询用户信息 -->
	<!-- 利用包装类型传递查询调节 userQueryVo是自动扫描到包装类的别名-->
	<!-- ${userCustom.username}:拿到UserQueryVo里的userCustom的username -->
	<select id="findUserList" parameterType="userQueryVo" resultType="user">
		select * from user 
		<!-- <where>相当于where关键字，它可以自动去除第一个and -->
		<where>
			<!-- 应用sql片段，如果引用的sql片段和当前文件不在统一namespace下，需要家namespace. -->
			<include refid="user_sqlWhere1" />
			<!-- <include refid="其他sql片段" /> -->
		</where>
	</select>
	
	<!-- 输出简单类型 -->
	<!-- 自定义查询调节，返回查询记录条数 -->
	<select id="findUserCount" parameterType="userQueryVo" resultType="int">
		<!-- select count(1) from user where username like '%${userCustom.username}%' -->
		select count(1) from user 
		<!-- <where>相当于where关键字，它可以自动去除第一个and -->
		<where>
			<!-- 如果userQueryVo中传入了查询条件，再进行条件拼接 -->
			<include refid="user_sqlWhere1" />
		</where>
	</select>
	
	<!-- 查询listmap，测试resultMap -->
	<!-- 如果定义的resultMap就在这当前namespace下，直接写其id便可，如果不在同一个namespace下，需要在resultMap id前加上其namespace. -->
	<select id="findUserListMap" parameterType="userQueryVo" resultMap="resultMap1">
		select id id_,username uName,birthday birthday,sex gender,address from user where username like '%${userCustom.username}%'
	</select>
	
	
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="day72_mybatis.demo.eneity.User">
		<selectKey keyProperty="id" order="AFTER" resultType="int" >
			select LAST_INSERT_ID()
		</selectKey>
		insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
	</insert>
	
	
	<!-- 删除用户 -->
	<delete id="deleteUser" parameterType="int">
		delete from user where id=#{id}
	</delete>
	
	<!-- 修改用户 -->
	<update id="updateUser" parameterType="day72_mybatis.demo.eneity.User" >
		update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
	</update>
	
	
	
	
</mapper>