<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	">

	<!-- demo1 aopDemo1 开始 -->
	<context:component-scan base-package="day39_spring" />
	<!-- 配置后处理bean -->
	<!-- <bean class="day39_spring.demo1.MyBeanPostProcessor" /> -->
	<!-- demo1 aopDemo1 结束 -->

	<!-- demo2  开始 -->
	<!-- 不带有切点的切面 -->
	<!-- 注册自定义前置增强Advice -->
	<bean id="myBeoreAdvice" class="day39_spring.demo2.MyBeoreAdvice" />
	<!-- 配置生成代理 -->
	<bean id="customerDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<!-- 属性:
			target : 代理的目标对象
			proxyInterfaces : 代理要实现的接口
			如果多个接口可以使用以下格式赋值
				<list> <value></value></list>
			proxyTargetClass : 是否对类代理而不是接口，设置为true时，使用CGLib代理
			interceptorNames : 需要织入目标的Advice
			singleton : 返回代理是否为单实例，默认为单例
			optimize : 当设置为true时，强制使用CGLib -->
		<!-- 设置目标对象 -->
		<property name="target" ref="customerService" />
		<!-- 设置实现的接口 -->
		<property name="proxyInterfaces" value="day39_spring.demo2.CustomeService" />
		<!-- 配置需要织入目标的Advice -->
		<property name="interceptorNames" value="myBeoreAdvice"/>
	</bean>
	<!-- demo2  结束 -->
	
	<!-- demo3  开始 -->
	<!-- 带有切点的切面 -->
	<!-- 注册自定义环绕增强Advice(通知) -->
	<bean id="myAroundAdvice" class="day39_spring.demo3.MyAroundAdvice" />
	
	<!-- 定义一个切面： -->
	<bean id="myPointcutAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor" >
		<!-- 定义表达式，设定哪些方法需要执行拦截 -->
		<!-- .任意字符，*任意个数 -->
		<!-- <property name="pattern" value=".*" /> -->
		<!-- <property name="pattern" value="day39_spring\.demo3\.OrderService\.add\.*" /> -->
		<!-- <property name="pattern" value=".*add.*" /> -->
		<property name="patterns" value=".*add.*,.*update.*" />
		<!-- 应用增强 -->
		<property name="advice" ref="myAroundAdvice" />
	</bean>
	
	<!-- 配置生成代理 -->
	<bean id="orderServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<!-- 设置目标对象 -->
		<property name="target" ref="orderService" />
		<!-- 是否对类代理而不是接口 -->
		<property name="proxyTargetClass" value="true"/>
		<!-- 配置需要织入目标的Advice -->
		<property name="interceptorNames" value="myPointcutAdvisor"/>
	</bean>
	<!-- demo3  结束 -->
	
</beans>