<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	">

	<context:component-scan base-package="day39_spring.demo6" />
	
	<!-- demo6 基于xml开发AspectJ的AOP 开始-->
	
	<!-- 注册一个增强类 -->
	<bean id="myAspectXML" class="day39_spring.demo6.MyAspectXML" />
	
	<!-- 定义aop配置 -->
	<aop:config>
		<!-- 定义切点：指定在哪些类哪些方法上应用 -->
		<aop:pointcut expression="execution(* day39_spring.demo6.service.*Service.add(..))" id="myPointcut"/>
		<!-- 定义一个切面-->
		<aop:aspect ref="myAspectXML" ><!-- 引入前面定义的增强类 -->
			<!-- 定义切面 组合，增强类型，哪些增强应用到哪些切点 -->
			<!-- 前置增强 -->
			<!-- <aop:before method="myBefore" pointcut-ref="myPointcut" /> -->
			<!-- 后置增强 -->
			<!-- <aop:after-returning method="myAfterReturing" pointcut-ref="myPointcut"  returning="myReturnVal" /> -->	<!-- returning配置获取返回值 -->
			<!-- 环绕增强 -->
			<!-- <aop:around method="myAround" pointcut-ref="myPointcut"/> -->
			<!-- 异常增强 -->
			<!-- <aop:after-throwing method="myafterThrowing" pointcut-ref="myPointcut" throwing="e"/> -->
			<!-- 最终增强 -->
			<aop:after method="myafter" pointcut-ref="myPointcut" />
		</aop:aspect>
	</aop:config>
	
	<!-- demo6 基于xml开发AspectJ的AOP 结束 -->
	
</beans>