<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	">
	
	<!-- 扫描路径 -->
	<context:component-scan base-package="day74_spirngmvc.demo2.service" />
	
	<!-- 配置c3p0连接池 	使用配置文件存储4个值-->
	<!-- 配置文件分离 -->
	<context:property-placeholder location="classpath:day74_smm/jdbc.properties"/>
	<bean id="dataSource_c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- 配置SqlSessionFactory -->
	<bean id="sqlSessionFactory"  class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource_c3p0" />
	</bean>
	
	<!-- 配置扫描mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="day74_spirngmvc.demo2.mapper" />
	</bean>
	
	<!-- 注册事务管理器类 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_c3p0" />
	</bean>
	
	<!-- 配置一个事务增强 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager" >
		<!-- 事务增强的属性配置 -->
		<tx:attributes>
			<!-- 写 -->
			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="delete*" propagation="REQUIRED" isolation="DEFAULT" />
			<tx:method name="new*" propagation="REQUIRED" isolation="DEFAULT" />
			<!-- 读 -->
			<tx:method name="get*" propagation="REQUIRED" isolation="DEFAULT"
				read-only="true" />
			<tx:method name="load*" propagation="REQUIRED" isolation="DEFAULT"
				read-only="true" />
			<tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT"
				read-only="true" />
			<!-- 通配 -->
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 配置切面和切点信息 -->
	<aop:config>
		<!-- 配置事务切入点 -->
		<aop:pointcut expression="execution(* day74_spirngmvc.demo2.service.*Service.*(..))" id="txPointcut"/>
		<!-- 织入事务 配置事务切面（增强+切入点）-->
		<aop:advisor advice-ref="txAdvice"  pointcut-ref="txPointcut" />
	</aop:config>
</beans>