<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	">
	<!-- 用扫描方式，配置后置处理器handler -->
	<context:component-scan base-package="day74_spirngmvc.demo2.controller" />
	
	<!-- 配置处理器映射器HandlerMapper -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	
	<!-- 配置处理器适配器HandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" >
		<!-- 注入自定义属性编辑器,解决日期类型转换问题 -->
		<property name="webBindingInitializer" ref="configurableWebBindingInitializer" />
	</bean>
	
	<!-- 配置视图解析器ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前后缀 -->
		<property name="prefix" value="/page/day74_spingmvc/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	<!-- 自定义属性编辑器 -->
	<bean id="myCustomPropertyEditor" class="day74_spirngmvc.demo2.common.MyCustomPropertyEditor" />
	<bean id="configurableWebBindingInitializer" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
		<property name="propertyEditorRegistrars">
			<list>
				<ref bean="myCustomPropertyEditor" />
			</list>
		</property>
	</bean>
			
</beans>