<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1"
	>
	<context-param>
		<param-name>AAA</param-name>
		<param-value>AAA值</param-value>
	</context-param>
	<context-param>
		<param-name>BBB</param-name>
		<param-value>BBB值</param-value>
	</context-param>
	<context-param>
		<param-name>BBB</param-name>
		<param-value>BBB值</param-value>
	</context-param>
	
	<!-- struts2 demo1 开始 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<!-- <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> -->
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/struts2Demo1</url-pattern>
	</filter-mapping>
	<!-- struts2 demo1 开始 -->
	<!-- struts2 demo2 Mystruts2 开始 -->
	<filter>
		<filter-name>Mystruts2</filter-name>
		<filter-class>day29_struts2.demo2.MyStrutsFilter</filter-class>
		<!-- <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> -->
	</filter>
	<filter-mapping>
		<filter-name>Mystruts2</filter-name>
		<url-pattern>/struts2Demo2</url-pattern>
	</filter-mapping>
	<!-- struts2 demo2 Mystruts2 开始 -->
	
	<!-- filter在context之后 -->
	<!-- filter，listener，servlet都将了，讲完filter后总结一下三者 -->
	<!-- <filter>配置一个filter
		<filter-name>demo1Filter1</filter-name>filter名称
		<filter-class>day21.Demo1Filter1</filter-class>filter处理类
		<init-param>配置filter初始化参数
			<param-name>a</param-name>初始化参数名称
			<param-value>2</param-value>初始化参数值
		</init-param>
	</filter>
	<filter-mapping>配置一个filter映射
		<filter-name>demo1Filter1</filter-name>使用哪个filter拦截
		<url-pattern></url-pattern>需要拦截哪个资源
	</filter-mapping>
	
	<filter>
		<filter-name>demo1Filter2</filter-name>
		<filter-class>day21.Demo1Filter2</filter-class>
		<init-param>
			<param-name>aaa</param-name>
			<param-value>abcd123</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>demo1Filter2</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping> -->
	
	<!-- filter链，demo2 开始 -->
	<!-- <filter>
		<filter-name>demo2Filter1</filter-name>
		<filter-class>day21.Demo2Filter1</filter-class>
		
	</filter>
	<filter>
		<filter-name>demo2Filter2</filter-name>
		<filter-class>day21.Demo2Filter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>demo2Filter1</filter-name>
		<url-pattern>/Demo2Servlet1</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>demo2Filter2</filter-name>
		<url-pattern>/Demo2Servlet1</url-pattern>
		<servlet-name>Demo2Servlet1</servlet-name>指定filter拦截哪个servlet
		<dispatcher>REQUEST</dispatcher>指定过滤器所拦截的资源被 Servlet 容器调用的方式
	</filter-mapping>
	
	<servlet>
		<servlet-name>Demo2Servlet1</servlet-name>
		<servlet-class>day21.Demo2Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo2Servlet1</servlet-name>
		<url-pattern>/Demo2Servlet1</url-pattern>
	</servlet-mapping> -->
	<!-- filter链，demo2 结束 -->
	
	<!-- fiterdemo3 开始 -->
	<filter>
		<filter-name>d21Demo3Filter</filter-name>
		<filter-class>day21.Demo3Filter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>d21Demo3Filter</filter-name>
		<url-pattern>/d21Demo3Servlet1</url-pattern>
		
	</filter-mapping>
	<servlet>
		<servlet-name>d21Demo3Servlet1</servlet-name>
		<servlet-class>day21.Demo3Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>d21Demo3Servlet1</servlet-name>
		<url-pattern>/d21Demo3Servlet1</url-pattern>
	</servlet-mapping> 
	<!-- fiterdemo3 结束 -->
	
	<!-- fiterdemo4 开始 -->
	<!-- <filter>
		<filter-name>Demo4Filter1</filter-name>
		<filter-class>day21.Demo4Filter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Demo4Filter1</filter-name>
		<url-pattern>*.PNG</url-pattern>
	</filter-mapping> -->
	<!-- fiterdemo4 结束 -->
	
	<!-- fiterdemo5 自动登录 开始 -->
	<!-- <filter>
		<filter-name>Demo5Filter1</filter-name>
		<filter-class>day21.Demo5LoginFilter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Demo5Filter1</filter-name>
		<url-pattern>/page/day21/Demo5AutoLogin.jsp</url-pattern>
		<url-pattern>/page/day21/mainPage.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Demo5LoginServlet</servlet-name>
		<servlet-class>day21.Demo5LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo5LoginServlet</servlet-name>
		<url-pattern>/Demo5LoginServlet</url-pattern>
	</servlet-mapping> -->
	<!-- fiterdemo5 自动登录 结束 -->
	
	
	<!-- list在servleit之前，在context-param之后 -->
	<!-- 注册监听application对象的创建与销毁监听器 -->
	<!-- <listener >
		<listener-class>day19_2_listener.MyApplicationListener</listener-class>
	</listener>
	注册监听session对象的创建与销毁监听器
	<listener >
		<listener-class>day19_2_listener.MySessionListener</listener-class>
	</listener>
	注册监听request对象的创建与销毁监听器
	<listener >
		<listener-class>day19_2_listener.MyRequestListener</listener-class>
	</listener>
	注册监听session域对象的属性变化
	<listener >
		<listener-class>day19_2_listener.MySessionAttributeListener</listener-class>
	</listener> -->
	
	<!-- DEMO -->
	<!-- <listener >
		<listener-class>day19_2_listener.demo.MyServletContextListener</listener-class>
	</listener>
	demo
	<listener >
		<listener-class>day19_2_listener.demo.MyHttpSessionListener</listener-class>
	</listener> -->
	
	<!-- day22 文件上传	demo1 开始 -->
	<servlet>
		<servlet-name>upload1</servlet-name>
		<servlet-class>day22.Demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload1</servlet-name>
		<url-pattern>/upload1</url-pattern>
	</servlet-mapping>
	<!-- day22 文件上传	demo1 结束 -->
	<!-- day22 文件上传	demo2开始 -->
	<servlet>
		<servlet-name>upload2</servlet-name>
		<servlet-class>day22.Demo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload2</servlet-name>
		<url-pattern>/upload2</url-pattern>
	</servlet-mapping>
	<!-- day22 文件上传	demo2 结束 -->
	<!-- day22 文件上传	demo3开始 -->
	<servlet>
		<servlet-name>upload3</servlet-name>
		<servlet-class>day22.Demo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload3</servlet-name>
		<url-pattern>/upload3</url-pattern>
	</servlet-mapping>
	<!-- day22 文件上传	demo3 结束 -->
	<!-- day22 文件上传	demo4开始 -->
	<servlet>
		<servlet-name>upload4</servlet-name>
		<servlet-class>day22.Demo4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload4</servlet-name>
		<url-pattern>/upload4</url-pattern>
	</servlet-mapping>
	<!-- day22 文件上传	demo4 结束 -->
	<!-- day22文件下载	demo5开始 -->
	<servlet>
		<servlet-name>DownLoad1</servlet-name>
		<servlet-class>day22.Demo5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownLoad1</servlet-name>
		<url-pattern>/DownLoad1</url-pattern>
	</servlet-mapping>
	<!-- day22文件下载	demo5结束 -->
	<!-- day23 dome1 ajax开始 -->
	<servlet>
		<servlet-name>ajax1</servlet-name>
		<servlet-class>day23_ajax.Demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax1</servlet-name>
		<url-pattern>/ajax1</url-pattern>
	</servlet-mapping>
	<!-- day23 dome1 ajax结束 -->
	<!-- day23 dome2 ajax开始 -->
	<servlet>
		<servlet-name>ajax2</servlet-name>
		<servlet-class>day23_ajax.Demo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax2</servlet-name>
		<url-pattern>/ajax2</url-pattern>
	</servlet-mapping>
	<!-- day23 dome2 ajax结束 -->
	<!-- day23 dome3 ajax开始 -->
	<servlet>
		<servlet-name>ajax3</servlet-name>
		<servlet-class>day23_ajax.Demo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax3</servlet-name>
		<url-pattern>/ajax3</url-pattern>
	</servlet-mapping>
	<!-- day23 dome3 ajax结束 -->
	<!-- day23 dome4 ajax开始 -->
	<servlet>
		<servlet-name>ajax4</servlet-name>
		<servlet-class>day23_ajax.Demo4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax4</servlet-name>
		<url-pattern>/ajax4</url-pattern>
	</servlet-mapping>
	<!-- day23 dome4 ajax结束 -->
	<!-- day23 dome5 ajax开始 -->
	<servlet>
		<servlet-name>ajax5</servlet-name>
		<servlet-class>day23_ajax.Demo5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax5</servlet-name>
		<url-pattern>/ajax5</url-pattern>
	</servlet-mapping>
	<!-- day23 dome5 ajax结束 -->
	<!-- day23 dome5 ajax开始 -->
	<servlet>
		<servlet-name>ajax6</servlet-name>
		<servlet-class>day23_ajax.Demo6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajax6</servlet-name>
		<url-pattern>/ajax6</url-pattern>
	</servlet-mapping>
	<!-- day23 dome5 ajax结束 -->
	
	<servlet>
		<servlet-name>Demo3Servlet1</servlet-name>
		<servlet-class>day8_web.Demo3Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo3Servlet1</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Demo4Servlet2</servlet-name>
		<servlet-class>day8_web.Demo4Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo4Servlet2</servlet-name>
		<url-pattern>/hello2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet3</servlet-name>
		<servlet-class>day9_http.Deom1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet3</servlet-name>
		<url-pattern>/Servlet3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet4</servlet-name>
		<servlet-class>day9_http.Demo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet4</servlet-name>
		<url-pattern>/Servlet4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet5</servlet-name>
		<servlet-class>day9_http.Demo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet5</servlet-name>
		<url-pattern>/Servlet5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet6</servlet-name>
		<servlet-class>day10_servlet.Demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet6</servlet-name>
		<url-pattern>/abc/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet7</servlet-name>
		<servlet-class>day10_servlet.Demo2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet7</servlet-name>
		<url-pattern>/Servlet7</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet8</servlet-name>
		<servlet-class>day10_servlet.Demo3init</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet8</servlet-name>
		<url-pattern>/Servlet8</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet9</servlet-name>
		<servlet-class>day10_servlet.Demo4</servlet-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>E:/aaa/a.txt</param-value>
		</init-param>
		<init-param>
			<param-name>b</param-name>
			<param-value>E:/aaa/b.txt</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet9</servlet-name>
		<url-pattern>/Servlet9</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet10</servlet-name>
		<servlet-class>day10_servlet.Demo5ServletContext</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet10</servlet-name>
		<url-pattern>/Servlet10</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet11</servlet-name>
		<servlet-class>day10_servlet.Demo5ServletContext2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet11</servlet-name>
		<url-pattern>/Servlet11</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Demo5RequestDispatcher</servlet-name>
		<servlet-class>day10_servlet.Demo5RequestDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo5RequestDispatcher</servlet-name>
		<url-pattern>/Demo5RequestDispatcher</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Demo5Redirect</servlet-name>
		<servlet-class>day10_servlet.Demo5Redirect</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo5Redirect</servlet-name>
		<url-pattern>/Demo5Redirect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mainContact</servlet-name>
		<servlet-class>day10_servlet_exercise.MainC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainContact</servlet-name>
		<url-pattern>/mainContact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addC</servlet-name>
		<servlet-class>day10_servlet_exercise.AddC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>addC</servlet-name>
		<url-pattern>/addC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateC</servlet-name>
		<servlet-class>day10_servlet_exercise.UpdateC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateC</servlet-name>
		<url-pattern>/updateC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteC</servlet-name>
		<servlet-class>day10_servlet_exercise.DeleteC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteC</servlet-name>
		<url-pattern>/deleteC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet12</servlet-name>
		<servlet-class>day11.Demo1Path</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet12</servlet-name>
		<url-pattern>/Servlet12</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet13</servlet-name>
		<servlet-class>day11.Demo2Cookie1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet13</servlet-name>
		<url-pattern>/Servlet13</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet14</servlet-name>
		<servlet-class>day11.Demo3Cookie2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet14</servlet-name>
		<url-pattern>/Servlet14</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>session1</servlet-name>
		<servlet-class>day11.Demo4Session1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session1</servlet-name>
		<url-pattern>/session1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>session2</servlet-name>
		<servlet-class>day11.Demo4Session2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session2</servlet-name>
		<url-pattern>/session2</url-pattern>
	</servlet-mapping>

	<!-- 配置全局session有效时间 单位：分 -->
	<session-config>
		<!-- 15分钟后session过期 -->
		<session-timeout>15</session-timeout>
	</session-config>
	<!-- 全局错误处理页面 -->
	<!-- <error-page>
		<error-code>500</error-code>
		<location>/page/day12/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/page/day12/common/404.html</location>
	</error-page> -->

	<servlet>
		<servlet-name>session3</servlet-name>
		<servlet-class>day12.Demo1Session1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session3</servlet-name>
		<url-pattern>/session3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>session4</servlet-name>
		<servlet-class>day12.Demo1Session2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session4</servlet-name>
		<url-pattern>/session4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>session5</servlet-name>
		<servlet-class>day12.Demo1Session3</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session5</servlet-name>
		<url-pattern>/session5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Black</servlet-name>
		<servlet-class>day12.Black</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Black</servlet-name>
		<url-pattern>/Black</url-pattern>
	</servlet-mapping>

	<!-- jsp最佳实践 -->
	<servlet>
		<servlet-name>servletJsp1</servlet-name>
		<servlet-class>day13.Demo1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletJsp1</servlet-name>
		<url-pattern>/servletJsp1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GuessServlet</servlet-name>
		<servlet-class>day13.Demo2GuessServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuessServlet</servlet-name>
		<url-pattern>/GuessServlet</url-pattern>
	</servlet-mapping>
	<!-- xml+servlet+jstl标签/el表达式，联系人管理 -->
	<servlet>
		<servlet-name>jstlServlet1</servlet-name>
		<servlet-class>day13_jstl_exercise.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jstlServlet1</servlet-name>
		<url-pattern>/jstlServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoAddOrUpdateC</servlet-name>
		<servlet-class>day13_jstl_exercise.DoAddOrUpdateC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoAddOrUpdateC</servlet-name>
		<url-pattern>/DoAddOrUpdateC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ToAddOrUpdateC</servlet-name>
		<servlet-class>day13_jstl_exercise.ToAddOrUpdateC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToAddOrUpdateC</servlet-name>
		<url-pattern>/ToAddOrUpdateC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoDelC</servlet-name>
		<servlet-class>day13_jstl_exercise.DoDelC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDelC</servlet-name>
		<url-pattern>/DoDelC</url-pattern>
	</servlet-mapping>
	<!-- xml+servlet+jstl标签/el表达式，联系人管理 end -->
	<!-- xml+dao+service+controller+jstljstl标签/el表达式 联系人管理 -->
	<servlet>
		<servlet-name>ContactMain</servlet-name>
		<servlet-class>day14_mvc.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain</servlet-name>
		<url-pattern>/ContactMain</url-pattern>
	</servlet-mapping>
	<!-- xml+dao+service+controller+jstljstl标签/el表达式 联系人管理 end -->
	<servlet>
		<servlet-name>jdbcDemo4Login</servlet-name>
		<servlet-class>day17.Demo4Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jdbcDemo4Login</servlet-name>
		<url-pattern>/jdbcDemo4Login</url-pattern>
	</servlet-mapping>
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理 -->
	<servlet>
		<servlet-name>ContactMain2</servlet-name>
		<servlet-class>day17.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain2</servlet-name>
		<url-pattern>/ContactMain2</url-pattern>
	</servlet-mapping>
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理 end -->
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理,三层结构改造 -->
	<servlet>
		<servlet-name>ContactMain3</servlet-name>
		<servlet-class>day19.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain3</servlet-name>
		<url-pattern>/ContactMain3</url-pattern>
	</servlet-mapping>
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理，三层结构改造 end -->
	<!-- mysql+dao(DbUtils)+service+controller(BeanUtils)+jstl标签/el表达式 联系人管理,三层结构改造 -->
	<servlet>
		<servlet-name>ContactMain4</servlet-name>
		<servlet-class>day19_2.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain4</servlet-name>
		<url-pattern>/ContactMain4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>day19_2.exercise.controller.UserController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<!--  mysql+dao(DbUtils)+service+controller(BeanUtils)+jstl标签/el表达式 联系人管理,三层结构改造 end -->
	<!-- 转账案例，事务 -->
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>day18_transaction.account.servlet.AccountServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/AccountServlet</url-pattern>
	</servlet-mapping>
	<!-- 转账案例，事务 end -->
	<servlet>
		<servlet-name>day19_2_demo1</servlet-name>
		<servlet-class>day19_2.Demo1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>day19_2_demo1</servlet-name>
		<url-pattern>/day19_2_demo1</url-pattern>
	</servlet-mapping>
</web-app>