<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<context-param>
		<param-name>AAA</param-name>
		<param-value>AAA值</param-value>
	</context-param>
	<context-param>
		<param-name>BBB</param-name>
		<param-value>BBB值</param-value>
	</context-param>
	<context-param>
		<param-name>BBB</param-name>
		<param-value>BBB值</param-value>
	</context-param>
	
	<!-- filter在context之后 -->
	<!-- filter，listener，servlet都将了，讲完filter后总结一下三者 -->
	<filter><!-- 配置一个filter -->
		<filter-name>demo1Filter1</filter-name><!-- filter名称 -->
		<filter-class>day21.Demo1Filter1</filter-class><!-- filter处理类 -->
	</filter>
	<filter-mapping><!-- 配置一个filter映射 -->
		<filter-name>demo1Filter1</filter-name><!-- 使用哪个filter拦截 -->
		<url-pattern>/index.jsp</url-pattern><!-- 需要拦截哪个资源 -->
	</filter-mapping>
	
	<!-- list在servleit之前，在context-param之后 -->
	<!-- 注册监听application对象的创建与销毁监听器 -->
	<!-- <listener >
		<listener-class>day19_2_listener.MyApplicationListener</listener-class>
	</listener>
	注册监听session对象的创建与销毁监听器
	<listener >
		<listener-class>day19_2_listener.MySessionListener</listener-class>
	</listener>
	注册监听request对象的创建与销毁监听器
	<listener >
		<listener-class>day19_2_listener.MyRequestListener</listener-class>
	</listener>
	注册监听session域对象的属性变化
	<listener >
		<listener-class>day19_2_listener.MySessionAttributeListener</listener-class>
	</listener> -->
	
	<!-- DEMO -->
	<!-- <listener >
		<listener-class>day19_2_listener.demo.MyServletContextListener</listener-class>
	</listener>
	demo
	<listener >
		<listener-class>day19_2_listener.demo.MyHttpSessionListener</listener-class>
	</listener> -->
	
	<servlet>
		<servlet-name>Demo3Servlet1</servlet-name>
		<servlet-class>day8_web.Demo3Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo3Servlet1</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Demo4Servlet2</servlet-name>
		<servlet-class>day8_web.Demo4Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo4Servlet2</servlet-name>
		<url-pattern>/hello2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet3</servlet-name>
		<servlet-class>day9_http.Deom1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet3</servlet-name>
		<url-pattern>/Servlet3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet4</servlet-name>
		<servlet-class>day9_http.Demo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet4</servlet-name>
		<url-pattern>/Servlet4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet5</servlet-name>
		<servlet-class>day9_http.Demo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet5</servlet-name>
		<url-pattern>/Servlet5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet6</servlet-name>
		<servlet-class>day10_servlet.Demo1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet6</servlet-name>
		<url-pattern>/abc/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet7</servlet-name>
		<servlet-class>day10_servlet.Demo2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet7</servlet-name>
		<url-pattern>/Servlet7</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet8</servlet-name>
		<servlet-class>day10_servlet.Demo3init</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet8</servlet-name>
		<url-pattern>/Servlet8</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet9</servlet-name>
		<servlet-class>day10_servlet.Demo4</servlet-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>E:/aaa/a.txt</param-value>
		</init-param>
		<init-param>
			<param-name>b</param-name>
			<param-value>E:/aaa/b.txt</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet9</servlet-name>
		<url-pattern>/Servlet9</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet10</servlet-name>
		<servlet-class>day10_servlet.Demo5ServletContext</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet10</servlet-name>
		<url-pattern>/Servlet10</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet11</servlet-name>
		<servlet-class>day10_servlet.Demo5ServletContext2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet11</servlet-name>
		<url-pattern>/Servlet11</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Demo5RequestDispatcher</servlet-name>
		<servlet-class>day10_servlet.Demo5RequestDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo5RequestDispatcher</servlet-name>
		<url-pattern>/Demo5RequestDispatcher</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Demo5Redirect</servlet-name>
		<servlet-class>day10_servlet.Demo5Redirect</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo5Redirect</servlet-name>
		<url-pattern>/Demo5Redirect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mainContact</servlet-name>
		<servlet-class>day10_servlet_exercise.MainC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainContact</servlet-name>
		<url-pattern>/mainContact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addC</servlet-name>
		<servlet-class>day10_servlet_exercise.AddC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>addC</servlet-name>
		<url-pattern>/addC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateC</servlet-name>
		<servlet-class>day10_servlet_exercise.UpdateC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateC</servlet-name>
		<url-pattern>/updateC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteC</servlet-name>
		<servlet-class>day10_servlet_exercise.DeleteC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteC</servlet-name>
		<url-pattern>/deleteC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet12</servlet-name>
		<servlet-class>day11.Demo1Path</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet12</servlet-name>
		<url-pattern>/Servlet12</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet13</servlet-name>
		<servlet-class>day11.Demo2Cookie1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet13</servlet-name>
		<url-pattern>/Servlet13</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet14</servlet-name>
		<servlet-class>day11.Demo3Cookie2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet14</servlet-name>
		<url-pattern>/Servlet14</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>session1</servlet-name>
		<servlet-class>day11.Demo4Session1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session1</servlet-name>
		<url-pattern>/session1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>session2</servlet-name>
		<servlet-class>day11.Demo4Session2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session2</servlet-name>
		<url-pattern>/session2</url-pattern>
	</servlet-mapping>

	<!-- 配置全局session有效时间 单位：分 -->
	<session-config>
		<!-- 15分钟后session过期 -->
		<session-timeout>15</session-timeout>
	</session-config>
	<!-- 全局错误处理页面 -->
	<error-page>
		<error-code>500</error-code>
		<location>/page/day12/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/page/day12/common/404.html</location>
	</error-page>

	<servlet>
		<servlet-name>session3</servlet-name>
		<servlet-class>day12.Demo1Session1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session3</servlet-name>
		<url-pattern>/session3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>session4</servlet-name>
		<servlet-class>day12.Demo1Session2</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session4</servlet-name>
		<url-pattern>/session4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>session5</servlet-name>
		<servlet-class>day12.Demo1Session3</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>session5</servlet-name>
		<url-pattern>/session5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Black</servlet-name>
		<servlet-class>day12.Black</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Black</servlet-name>
		<url-pattern>/Black</url-pattern>
	</servlet-mapping>

	<!-- jsp最佳实践 -->
	<servlet>
		<servlet-name>servletJsp1</servlet-name>
		<servlet-class>day13.Demo1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletJsp1</servlet-name>
		<url-pattern>/servletJsp1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GuessServlet</servlet-name>
		<servlet-class>day13.Demo2GuessServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuessServlet</servlet-name>
		<url-pattern>/GuessServlet</url-pattern>
	</servlet-mapping>
	<!-- xml+servlet+jstl标签/el表达式，联系人管理 -->
	<servlet>
		<servlet-name>jstlServlet1</servlet-name>
		<servlet-class>day13_jstl_exercise.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jstlServlet1</servlet-name>
		<url-pattern>/jstlServlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoAddOrUpdateC</servlet-name>
		<servlet-class>day13_jstl_exercise.DoAddOrUpdateC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoAddOrUpdateC</servlet-name>
		<url-pattern>/DoAddOrUpdateC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ToAddOrUpdateC</servlet-name>
		<servlet-class>day13_jstl_exercise.ToAddOrUpdateC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToAddOrUpdateC</servlet-name>
		<url-pattern>/ToAddOrUpdateC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DoDelC</servlet-name>
		<servlet-class>day13_jstl_exercise.DoDelC</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDelC</servlet-name>
		<url-pattern>/DoDelC</url-pattern>
	</servlet-mapping>
	<!-- xml+servlet+jstl标签/el表达式，联系人管理 end -->
	<!-- xml+dao+service+controller+jstljstl标签/el表达式 联系人管理 -->
	<servlet>
		<servlet-name>ContactMain</servlet-name>
		<servlet-class>day14_mvc.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain</servlet-name>
		<url-pattern>/ContactMain</url-pattern>
	</servlet-mapping>
	<!-- xml+dao+service+controller+jstljstl标签/el表达式 联系人管理 end -->
	<servlet>
		<servlet-name>jdbcDemo4Login</servlet-name>
		<servlet-class>day17.Demo4Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jdbcDemo4Login</servlet-name>
		<url-pattern>/jdbcDemo4Login</url-pattern>
	</servlet-mapping>
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理 -->
	<servlet>
		<servlet-name>ContactMain2</servlet-name>
		<servlet-class>day17.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain2</servlet-name>
		<url-pattern>/ContactMain2</url-pattern>
	</servlet-mapping>
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理 end -->
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理,三层结构改造 -->
	<servlet>
		<servlet-name>ContactMain3</servlet-name>
		<servlet-class>day19.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain3</servlet-name>
		<url-pattern>/ContactMain3</url-pattern>
	</servlet-mapping>
	<!-- mysql+dao+service+controller+jstljstl标签/el表达式 联系人管理，三层结构改造 end -->
	<!-- mysql+dao(DbUtils)+service+controller(BeanUtils)+jstl标签/el表达式 联系人管理,三层结构改造 -->
	<servlet>
		<servlet-name>ContactMain4</servlet-name>
		<servlet-class>day19_2.exercise.controller.ContactMain</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactMain4</servlet-name>
		<url-pattern>/ContactMain4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>day19_2.exercise.controller.UserController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<!--  mysql+dao(DbUtils)+service+controller(BeanUtils)+jstl标签/el表达式 联系人管理,三层结构改造 end -->
	<!-- 转账案例，事务 -->
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>day18_transaction.account.servlet.AccountServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/AccountServlet</url-pattern>
	</servlet-mapping>
	<!-- 转账案例，事务 end -->
	<servlet>
		<servlet-name>day19_2_demo1</servlet-name>
		<servlet-class>day19_2.Demo1</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>day19_2_demo1</servlet-name>
		<url-pattern>/day19_2_demo1</url-pattern>
	</servlet-mapping>
</web-app>